<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles.css">
    <style>
        body {
            background-color: rgb(28, 27, 35);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        h1 {
            color: white;
            font-size: 2em;
            text-align: center;
        }
        @media only screen and (max-width: 600px) {
            h1 {
                font-size: 1.5em;
            }
        }
    </style>
</head>
<body>
    <h1>Welcome to My Website!</h1>
</body>
</html>
