<body>
<style>
        .indent-1 {float: left;}
        .indent-1 section {width: 50%; float: left;}
</style>

<section class="indent-1">


    <div class="container" style="display: table-row">
        <header>
            <h1>Rolls Royce</h1>
        </header>
        <body>
            <!-- url for /rolls -->
            <a href="{{ url_for('rolls') }}">Rolls Royce</a>
        </body>
    </div>
    <div class="container" style="display: table-row">
        <header>
            <h1>Lambo</h1>
        </header>
    </div>
    <div class="container" style="display: table-row">
        <header>
            <h1>Jaguar</h1>
        </header>
    </div>
</section>

</body>
